Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.11
bash-kernel==0.3
certifi==14.05.14
gnureadline==6.3.3
ipython==3.0.0
jdcal==1.0
jsonschema==2.4.0
matplotlib==1.4.3
nose==1.3.6
numpy==1.9.2
openpyxl==2.2.2
pandas==0.16.0
patsy==0.3.0
pexpect==3.3
ptyprocess==0.4
pyparsing==2.0.3
python-dateutil==2.4.2
pytz==2015.2
pyzmq==14.5.0
requests==2.6.0
scikit-learn==0.16.1
scipy==0.15.1
seaborn==0.6.0
six==1.9.0
statsmodels==0.6.1
sympy==0.7.6
terminado==0.5
tmuxomatic==2.16
tornado==4.1
xlrd==0.9.3
